[Unit]
Description=Camera Service
After=network.target

[Service]
ExecStart=/home/tank/camera.py
Restart=on-failure
User=tank
WorkingDirectory=/home/tank/

[Install]
WantedBy=multi-user.target

